<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Clínica{% endblock %}</title>

    <!-- Bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-dark bg-dark px-3">
    <div class="container-fluid">

        {% if request.user.is_authenticated %}

            <div class="d-flex align-items-center gap-2">
                {% if request.user.profissional.tipo == 'recepcionista' %}
                    <a class="navbar-brand" href="{% url 'consultas-lista' %}">
                        Clínica
                    </a>

                    <a href="{% url 'consultas-lista' %}" class="btn btn-outline-light btn-sm">
                        Consultas
                    </a>
                    <a href="{% url 'pacientes-lista' %}" class="btn btn-outline-light btn-sm">
                        Pacientes
                    </a>

                    <a href="{% url 'pacientes-criar' %}" class="btn btn-outline-light btn-sm">
                        Novo Paciente
                    </a>
                {% endif %}

                {% if request.user.profissional.tipo == 'medico' %}
                    <a class="navbar-brand" href="{% url 'medico-consultas' %}">
                        Clínica
                    </a>
                {% endif %}
            </div>

            <div class="d-flex align-items-center gap-2 ms-auto">
                {% if request.user.profissional.tipo == 'medico' %}
                    <a href="{% url 'medico-consultas' %}" class="btn btn-outline-light btn-sm">
                        Minha Agenda
                    </a>
                {% endif %}

                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm">
                        Sair
                    </button>
                </form>
            </div>

        {% endif %}

    </div>
</nav>


<div class="container mt-4">
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
