{% extends 'base.html' %}

{% block title %}Minhas Consultas{% endblock %}

{% block content %}
<h3>Minhas Consultas</h3>

<table class="table table-striped">
    <thead class="table-secondary">
        <tr>
            <th>Paciente</th>
            <th>Data</th>
            <th>Horário</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for consulta in consultas %}
            <tr>
                <td>{{ consulta.paciente.nome }}</td>
                <td>{{ consulta.data|date:"d/m/Y" }}</td>
                <td>{{ consulta.hora|time:"H:i" }}</td>
                <td>{{ consulta.get_status_display }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3" class="text-center">
                    Nenhuma consulta encontrada.
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
